.banner{
    background-image: url("../img/fotobanner.jpg");
    padding: 15% 30% 25% 8%;
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index:1;
}

.banner::after{
    content: '';
    height: 100%;
    width:100%;
    background-color: black;
    position:absolute;
    top:0;
    left:0;
    opacity: 0.45;
    z-index: -1;
}

.fuente{
    font-family: 'Delius', cursive;
    font-family: 'Just Another Hand', cursive;
    font-family: 'Kalam', cursive;
    color:white;
}